.grass-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/backgrounds/bg_1.3.1.png');
}

.grass-container .dialogue-box {
  border: 6px solid #e7ddd9;
  height: 240px;
  padding: 50px 60px;
  bottom: 2.5vh;
  right: 2.5vw;
  width: 95vw;
}

.grass-container .dialogue-box .dialogue-message h1 {
  font-family: 'Jeju Hallasan', cursive;
  font-size: 3em;
}

.grass-container .dialogue-name h1 {
  font-family: 'Jeju Hallasan', cursive;
  font-size: 1em;
}

.grass-container .dialogue-name {
  position: fixed;
  bottom: 210px;
  left: 20px;
  width: 300px;
  height: 100px;
  border: 6px solid #e7ddd9;
  border-radius: 20px;
  background-color: #ECCF6D;
  text-align: center;
  z-index: 1;

  font-family: 'Jeju Hallasan', cursive;
}

.colour-mix-area .mixed-colours {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 8px; 
}

.grass-container .colour-mix-area .mixed-colours .button-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.colour-mix-area .mixed-colours .prompt-text {
  grid-area: 2 / 1 / 3 / 4;
}

.grass-container .colour-mix-area .not-mixed-colours {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 16px; 
}

.grass-container .colour-mix-area .not-mixed-colours .button-1 {
  grid-area: 1 / 1 / 2 / 2;
}

.grass-container .colour-mix-area .not-mixed-colours .button-2 {
  grid-area: 1 / 2 / 2 / 3;
}

.grass-container .colour-mix-area .not-mixed-colours .suggestion-text {
  grid-area: 2 / 1 / 3 / 3;
}

.grass-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/backgrounds/bg_1.3.2.png');
}