.lava-container {
  position: relative;
  background-color: #f2eace;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/backgrounds/bg_1.1.png');
}

/* .h1 {
  font-size: 1em;
  font-family: 'Jeju Hallasan', cursive;
} */

.dialogue-menu {
  font-size: 1em;
  font-family: 'Jeju Hallasan', cursive;
} 