@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

/* Add this to class if you want to use the cursive font in the design -> font-family: 'Jeju Hallasan', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
